{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color: rgba(132, 134, 160, 0.63);">

  <!-- cards -->
  <div class="container mt-5 d-flex justify-content-center">
  
    <div class="card text-center w-100" style="max-width: 480px;">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-start">Track your parcels now</h5>
        <p class="card-text mt-3 text-start">Please enter your tracking number below to continue</p>
  
        <div class="mt-4">
          <form class="input-group" role="search">
            <input class="form-control" type="search" placeholder="Tracking number" aria-label="Search" />
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>


<!-- 

  <div class="container d-flex justify-content-center mt-4">
    <div>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div> -->

  
  
  <div class="container fixed-bottom d-flex gap-3 justify-content-center mb-2">
    <button type="button" class="btn btn-outline-primary">Profile</button>
    <button type="button" class="btn btn-outline-primary">Notification</button>
    <button type="button" class="btn btn-outline-primary">Payments</button>
    <button type="button" class="btn btn-outline-primary"><a href="{{url_for('home')}}" style="text-decoration: none;">Home</a></button>
 </div>




  {% endblock %}
</body>

</html>